.home {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 0% 2.5% 2% 2.5%;
	color: #585858;
	background-color: #fff;
}
.contentWrapper {
	display: flex;
	padding: 2%;
	width: 100%;
}
.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2% 5%;
}
.homeData {
	flex: 1;
}
.imgWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
}
.homeImg {
	width: 100%;
	height: auto;
}
.homeHeading {
	font-size: 38px;
	color: #333;
	margin-bottom: 0vw;
}
.homePara {
	font-size: 20px;
	text-align: left;
	padding-top: 2%;
}
.homePara2 {
	font-size: 20px;
	text-align: left;
	padding: 2% 10% 2% 0%;
}

/* @mobile */
@media (max-width: 768px) {
	.home {
		flex-direction: column;
		align-items: center;
	}
	.content {
		flex-direction: column;
	}
	.homeData {
		padding: 2% 2%;
	}
	.imgWrapper {
		width: 100%;
	}
	.homeImg {
		width: 90%;
		padding-bottom: 6vw;
		padding-top: 8%;
	}
	.homeHeading {
		top: 3%;
		left: 27%;
		font-size: 7vw;
		text-align: center;
	}
	.homePara {
		font-size: 4vw;
		text-align: center;
	}
	.homePara2 {
		padding: 2% 0% 2% 0%;
		font-size: 4vw;
		text-align: center;
	}
}
