.selector {
  background-color: #fff;
  color: #585858;
  border-radius: 5px;
  border-width: 1px;
  height: 2.5vw;
  width: 100%;
  font-size: 1.2vw;
  text-transform: capitalize;
  text-align: left;
  padding-left: 0.5vw;
  cursor: pointer;
}

@media (width<=464px) {
  .selector {
    text-align: left;
    padding-left: 3%;
    font-size: 3.5vw;
    height: 7.5vw;
  }
}
